<div class="w-full  flex items-center justify-between bg-dark-purple md:py-5 sm:py-3 md:px-10 sm:px-2 text-white ">

    <div class="logo cursor-pointer " routerLink="/">
      <!-- <img src="" alt=""> -->
      <span class="ms:text-2xl sm:text-[16px] whitespace-nowrap"> Admin Dashboard</span>    </div>



  <div>
    <ul class="flex flex-row justify-between items-center space-x-5">
      <li class="block relative cursor-pointer">
        <i class=" bi bi-bell-fill text-white text-[19px]">

        </i>
        <div class="w-[7px] h-[7px] rounded-full bg-[#f62c2c] absolute top-1.5 left-3">
        </div>
      </li>
      <li class="block min-w-max min-h-max">
      <img src="../../../assets/original.jfif" alt="admin picture" class="inline-block w-12 h-12 rounded-full object-cover ">
      </li>
      <li>
        <i class="bi bi-caret-down-fill cursor-pointer"></i>
      </li>


    </ul>
  </div>




</div>
